.card-header-style {
    display: flex;
    justify-content: space-between;
}

.titleNavbar {
    display: block;
}

@media screen and (max-width: 768px) {
    .card-header-style {
        flex-direction: column;
    }
}

@media screen and (max-width: 560px) {
    .titleNavbar {
        display: none;
    }

}